{% extends 'blog/base.html' %}

{% block footer %}<footer>2012-2021 &copy; Ian86.Net.
    ALL Rights Reserved.</footer>{% endblock %}
     
   
    .footer {
        font-weight:bold;
        background:#00abff;
        color:#fff;
        padding:10px 20px;
        font-size:12px;
        text-align: center;     
        position: fixed;
        
        float: bottom;
        width: 100%;
        left: 0;
        
        
  }
  <div class="footer">
      <p>2012-2021 &copy; Ian86.Net.
           ALL Rights Reserved.</p>       
    </div>