{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <body>
    <span style="color:#FF0000">H</span>
    <span style="color:#66CC66">e</span>
    <span style="color:#FF9966">l</span>
    <span style="color:#FFCCCC">l</span>
    <span style="color:#FF0066">o</span>



<p>About Me
:   <strong>first-lang:</strong><p>My first serious projects in software development began in 2011 with
    MSSQL Server 2009R2/2012, building ETL packages and pipelines in SSIS,
     building business intelligence reports using SSRS, debug SQL stored 
     procedures using SQL jobs, applied database normalization and optimization
      techniques in a star scheme for OLAP, as well as building MDX queries to 
      extract data from SSAS cube. In 2013 I attended MassBay Community College
       courses in Bio Informatics, then returned to study STEM full time at 
       Dutchess Community College in Poughkeepsie, NY January 2013-May 2015 
       where I graduated with an Associates in General Science, by 2015 have
        earned 60+ credits in STEM. In 2015, at DCC I double-majored in Computer
         Information Systems(CIS) and General Science(LAX) and was accepted to
          State University of NY, New Paltz with more than 80 credits, having
           never attended due to family related issues.</p>


</body>
</html>

{% load static %}
<!DOCTYPE html>
<html>
<head>
<title>Ian Myers - Full Stack Web Developer</title>

<meta name="viewport" content="width=device-width"/>
<meta name="description" content="The Resume of Ian Myers."/>
<meta charset="UTF-8"> 

<link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}">
<link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>

<!--[if lt IE 9]>
<script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body id="top">
<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
			<img src="{% static 'images/headshot.jpg' %}" alt="Ian Myers" />
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo">Ian Myers</h1>
			<h2 class="quickFade delayThree">BI Developer</h2>
		</div>
		
		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li><a href="mailto:Ian86Myers@gmail.com" target="_blank">ian86myers@gmail.com</a></li>
				<li><a href="GitHub Repo">#</a></li>
				<li>914-475-4302</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Personal Profile</h1>
				</div>
				
				<div class="sectionContent">
					<p>  <ul>
						<li>Business Intelligence Developer in SQL Server Analysis Services; SSDT 2017; tables, partitions, relationships, hierarchies, measures, and KPIs.</li>
						<li>Proficient in DAX, SQL, T-SQL, SSIS, SSAS. Reporting services in SSRS, Power BI, & Tableau.</li>
						<li>Other skills include; Critically discern the quality of data and identify the parameters and constraints of using, transmitting, securing and storage of data. Identify the scope, resources, timeline and critical tasks involved with project management. </li>
						<li>Design and implement data storage and transmission(ETL) in SQL Server 2012/2014/2016.</li>
						<li>Select appropriate hardware and software to satisfy a particular business problem or opportunity including developing software solutions and utilizing existing available software with particular emphasis on Microsoft database management software. </li>
						<li></li>
						<li></li>
						<li></li>
						<li></li>

					  </ul>   
					
						  
					
						 
					
						 </p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>BI Developer</h2>
					<p class="subDetails">April 2011 - Present</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</article>
				
				<article>
					<h2>Job Title at Company</h2>
					<p class="subDetails">Janruary 2007 - March 2011</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</article>
				
				<article>
					<h2>Job Title at Company</h2>
					<p class="subDetails">October 2004 - December 2006</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim. Vestibulum bibendum mattis dignissim. Proin id sapien quis libero interdum porttitor.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				<ul class="keySkills">
					<li>MVC Framework</li>
					<li>ORM</li>
					<li>Celery</li>
					<li>CBVs</li>
					<li>Serialilzers</li>
					<li>RestFramework</li>
					<li>A Key Skill</li>
					<li>A Key Skill</li>
				</ul>
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
				
				<article>
					<h2>College/University</h2>
					<p class="subDetails">Qualification</p>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec ultricies massa et erat luctus hendrerit. Curabitur non consequat enim.</p>
				</article>
			</div>
			<div class="clear"></div>
		</section>
		
	</div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-3753241-1");
pageTracker._initData();
pageTracker._trackPageview();
</script>
</body>
</html>