<!DOCTYPE html>
<html>
<h1>Ian Myers</h1>
<p><span><strong>Full Stack Software Developer</strong></span></p>
<p><strong><pre><code>+1-914-475-4302</code></pre></strong></p>
<p><strong>US Citizen</strong></p>
<hr style="width:50%">
<!-- <h2><block style="display: inline-block;"></block></h2> -->
<h2>Professional Summary</h2>

<ul>
  <li><p>Experience using various version control systems such as git, github, GitKracken, heroku, python anywhere, and Amazon ec2. </p></li>
  <li><p>Deploying Python Django MVC framework including Django REST framework & various other Web APIs, JSON, Endpoints, Requests module, Model Serializer Class, Nested Relationships:
    <ul><p>Developing frontend VUE JS CLI</p>
    <p>Token Authentication</p>
    <P>Session Authentication</p>
    <p>JSON Web Tokens</p>
    <p>Django REST Auth</p>
    </ul>
  </p></li>
  <li><p>Worked on Big Data, Hadoop, HDFS, Python, Spark, MapReduce, Hive,
      JavaScript in Snowflake, AWS, EMR, s3, Boto3, Python-panda, Azure, blob,
        Azure Data Factory.</p></li>
  <li><p>Worked in Agile, SCRUM environment.</p></li>
  <li><p>Worked on SSIS & Azure Data factory.</p></li>
  <li><p>Worked on BI tools in; SSDTs, Tableau, PowerBI.</p></li>
  <li><p>Worked on Snowflake, PostgreSQL, SQL Server Management Studio.</p></li>
</ul>




  <h3>BI/Big Data Developer</h3>
  
  <ul>
  <li><p>Authored PowerBI & Tableau dashboards for clients</p></li>
  <li><p>Developed reports, dashboards, and stories</p></li>
  <li><p>Extracted & shaped data from various sources using PowerQuery and integrate then into a source dataset.</p></li>
  <li><p>Data transforms, design of metrics using DAX scripting in PowerBI & emdeding views and JavaScript API in Tableau.</p></li>
  <li><p>Data Model design in PowerBI star schema</p></li>
  <li><p>Blended data, design prompts, passing of parameters, design filters, build maps, edit axes, build groups & sets, build hierarchies and rollups , & sorting for better data visualization in Tableau.</p></li>
  <li><p>Design of KPI, gauges and cards to measure performance ; pivoting and unpivoting, transform of text, numbers, dates and create customs using the M language; add columns , view and help menus.</p></li>
  <li><p>Worked on PowerBI Service with developers & users for collaboration.</p></li>
  <li><p>Worked on DAX scripting to build SSAS tabular model.</p></li>
  <li><p>Worked on SSIS to extract data to build the data warehouse which ultimately consumed by SSAS tabular model.</p></li></ul>
  
  

  <h3>Fullstack Software Developer Python</h3>
  
 
  <ul>
  <li><p>Django MVC framework</p></li>
  <li><p>Django template language, Built in template tags and filters, Using mixins with class-based-views</p></li>
  <li><p>Able to write automated tests with Django and DRF</p></li>
  <li><p>Django ORM; Filtering Models, query and manipulate data</p></li>
  <li><p>Celery to automate tasks</p></li>
  <li><p>Rendering context in a template & context processors</p></li>
  <li><p>wow</p></li>
  <li><p>cool</p></li></ul>
  
  <p><strong>Technical Experience</strong></p>
  


<p> Programming Languages etc.: <strong>Python, SQL</strong>, <strong>JSON, XML</strong>, <strong>Java, Scala</strong>, <strong>HTML, CSS, Bootstrap</strong></p>

<h2>Extra Section, Call it Whatever You Want</h2>

<ul><li>English (native speaker)</li>
<li></li>
<li>This is what a nested list looks like.</li></ul>
<li><p>Random tidbit</p></li>
<li><p>Other sort of impressive-sounding thing you did</p></li>
</ul>
<h2>Education</h2>

<p>2013-2015 (graduated 3.0 gpa)
   <strong><a href="https://www.sunydutchess.edu/academics/catalog/current/programs/liberalartsandsciences/lax.html">Associate in Science (A.S.)</a>
</strong>; <a href="https://www.sunydutchess.edu/">Dutchess Community College is a SUNY campus located in Poughkeepsie, New York.</a></p>
<pre><code>*Minor: Computer Information Systems*
</code></pre>
<pre><code>*Thesis title: Deep Learning Approaches to the Self-Awesomeness
 Estimation Problem*
</code></pre>

<p>2000-2004
:   <strong>New York State Regents Diploma</strong>; Millbrook, NY</p>

</html>

 
<!-- 
<p><p><strong>Technical Experience</strong></p>
  
  <p>All My Side Projects are Django related.
  :   For items which don't have a clear time ordering, a definition
      list can be used to have named items.</p>
  
  <pre><code>* These items can also contain lists, but you need to mind the
    indentation levels in the markdown source.
  * Second item.
  </code></pre>
  <pre><code>* These items can also contain lists, but you need to mind the
      indentation levels in the markdown source.
    * Second item.
    </code></pre>

    <hr> -->